<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="/stylesheets/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    <title>GoDigital</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <h1>Welcome to GoDigital</h1>
    

    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="/routes/login.js"></script>
</body>
</html>