<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/main.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
<title>GoDigital</title>
</head>
<body>
   <section class="hero">
<header>
  <div class="container flex js-bt">
   <div class="brand">
   <h2>Logo</h2>
     </div>
     <nav>
        <ul class="flex">
            <li><a href="#home">Home</a></li>
            <li><a href="#freature">Features</a></li>
            <li><a href="#Overview">Overview</a></li>
            <li><a href="#team">Team</a></li>
        </ul>
     </nav>
     </div>
</header>  
   <main class="container flex js-bt">

<div class="col-50 m-5 hero-text">
<h1 class="hero-heading"> <strong>Distracted by</strong> <br> fact that a reader will be distracted by the readable content</h1>
<p class="hero-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro explicabo saepe sed eum aut pariatur odio ducimus recusandae ipsum ipsa delectus omnis debitis dolorum quaerat vitae, repellat natus. Consectetur, nisi?</p>

<a href="#" class="hero-btn">Create Your Digital ID</a>
</div>


<div class="col-50 hero-img">
<img src="/images/homePageImage.svg" width="48px">
</div>
  </main>
</section>  

<section class="advantage">

    <h3>Advanced Features</h3>

    <div class="container flex">
    <div class="col-30 flex js-bt">
     <div class="flex">
    <div class="feature-img col-20">
        <img src="/images/smartphone.svg" width="48px">
    </div>
    <div class="feature-text col-80">
      <p  class="bold">Always in your phone</p>
       <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus amet, hic temporibus, alias fugiat voluptatum, illum officia modi placeat assu </p>
    </div>
    </div>
    </div>

<div class="col-30 flex js-bt">
<div class="flex js-bt">

    <div class="feature-img col-20">
        <img src="/images/smartphone.svg" width="48px">
    </div>

    <div class="feature-text col-80">
      <p class="bold">Need To Carry</p>
       <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus amet, hic temporibus, alias fugiat voluptatum, illum officia modi placeat assu </p>
    </div>
    </div>
    </div>
     <div class="col-30 flex js-bt">
        
        <div class="flex">
    <div class="feature-img col-20">
        <img src="/images/smartphone.svg" width="48px">
    </div>
    <div class="feature-text col-80">          
       <p class="bold">Need To Carry</p>

       <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus amet, hic temporibus, alias fugiat voluptatum, illum officia modi placeat assu </p>
    </div>
    </div>
    </div>

</div>
 <div class="container flex">
    <div class="col-30 flex js-bt">
     <div class="flex">
    <div class="feature-img col-20">
      <img src="/images/smartphone.svg" width="48px">
    </div>
    <div class="feature-text col-80">
           <p class="bold">Need To Carry</p>

       <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus amet, hic temporibus, alias fugiat voluptatum, illum officia modi placeat assu </p>
    </div>
    </div>
    </div>
<div class="col-30 flex js-bt">
<div class="flex js-bt">

    <div class="feature-img col-20">
        <img src="/images/smartphone.svg" width="48px">
    </div>

    <div class="feature-text col-80">
      <p class="bold">Need To Carry</p>
       <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus amet, hic temporibus, alias fugiat voluptatum, illum officia modi placeat assu </p>
    </div>
    </div>
    </div>
     <div class="col-30 flex js-bt">
        
    <div class="flex">
    <div class="feature-img col-20">
        <img src="/images/smartphone.svg" width="48px">
    </div>
    <div class="feature-text col-80">
      <p class="bold">Always available online</p>
       <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus amet, hic temporibus, alias fugiat voluptatum, illum officia modi placeat assu </p>
    </div>
    </div>
    </div>

</div>
  
</section>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="/routes/login.js"></script>
</body>
</html>
   