.hero {
  background: #fc00ff; /* fallback for old browsers */
  background: url("/images/wave.svg"),
    -webkit-linear-gradient(to right, #00dbde, #fc00ff); /* Chrome 10-25, Safari 5.1-6 */
  background: url("/images/wave.svg"),
    linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  .hero-text {
    color: white;
    margin-bottom: 30px;
  }
  .hero-btn {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    color: blue;
    margin-top: 20px;
    text-transform: uppercase;
  }
}
