/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.m-5 {
  margin-top: 180px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-50 {
  width: 48%;
}

.col-30 {
  width: 32%;
}

.js-bt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  padding: 10px;
  border-bottom: 0.5px solid white;
}

header .brand {
  width: 36px;
}

header a {
  color: white;
  font-weight: 500;
  display: block;
  font-size: 1.2rem;
  padding: 10px 15px;
  text-transform: uppercase;
}

header a:hover {
  background-color: white;
  color: #1d93d3;
  border-radius: 10px;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.hero {
  background: #fc00ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("/images/wave.svg"), -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background: url("/images/wave.svg"), linear-gradient(to right, #00dbde, #fc00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.hero .hero-text {
  color: white;
  margin-bottom: 30px;
}

.hero .hero-btn {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  color: blue;
  margin-top: 20px;
  text-transform: uppercase;
}

.authHero {
  width: 100%;
  height: 100vh;
  background: #f7ff00;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#db36a4), to(#f7ff00));
  background: linear-gradient(to left, #db36a4, #f7ff00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.authHero .hero-auth-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authHero .auth-img {
  width: 700px;
}

.authHero .auth-img img {
  width: 100%;
}

.authHero .auth-section {
  width: 500px;
  height: 600px;
  margin: 5% auto;
  position: relative;
  background: #1c92d2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#f2fcfe), to(#1c92d2));
  background: linear-gradient(to left, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
}

.authHero .auth-section .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authHero .auth-section .toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: white transparent;
  border-radius: 27px;
  width: 200px;
  border: 0px;
  outline: none;
  position: relative;
}

.authHero .auth-section .login {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.authHero .auth-section .signup {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.authHero .auth-section .auth-box .auth-form {
  top: 200px;
  position: absolute;
  width: 250px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.authHero .auth-section .auth-box .auth-form input {
  width: 100%;
  padding: 10px 0px;
  margin: 5px 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  border-left: 0;
  border-right: 0;
  outline: none;
  background: transparent;
}
/*# sourceMappingURL=main.css.map */